.logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &[data-filled] {
    background: var(--color-violet-main) !important;
  }
  background: var(--color-violet-main);
  svg {
    font-size: 1.2rem;
    color: #fff;
  }
}