.wrapper {
  & {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 1rem;
    padding: 1rem 1rem 3rem 1rem;
    max-width: 64rem;
  }
}

.userInfoBlock {
  & {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .img {
    img {
      width: 9rem;
      min-width: 50px;
      min-height: 50px;
    }
  }
  .info {
    & {
      display: grid;
      gap: 1rem;
    }
    .name {
      h1 {
        font-size: 1.5rem;
        font-weight: 500;
        white-space: nowrap;
      }
      svg {
        margin-left: .5rem;
        font-size: 1.5rem;
      }
    }
    .idData {
      span {
        font-size: .9rem;
        color: var(--color-grey-200);
      }
    }
  }
  .choosing {
    & {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .chItem {
      & {
        padding: 2rem 2rem 2rem 2rem;
        display: grid;
        gap: .5rem;
        justify-items: center;
      }
      &:hover {
        cursor: pointer;
        transition: background .1s ease;
        background: var(--color-grey-100);
      }
      &:nth-child(2) {
        border-left: solid .1rem var(--color-grey-200);
      }
      .icon {
        svg {
          font-size: 2rem;
        } 
      }
    }
  }
}

.form {
  & {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    gap: 1rem;
  }
}

.description {
  width: 3rem;
  height: 3rem;
  background: red;
}

@media all and (max-width: 900px) {
  .userInfoBlock {
    
  }
}